<!DOCTYPE html>
<html ng-app="appMaps">

<head>
    <meta charset="utf-8"/>
    <title>WhoWhatWhere</title>
    <script src="services/angular.js"></script>
    <script src="services/angular-google-maps.js"></script>
    <script src="js/appController.js"></script>
    <link rel="stylesheet" type="text/css" href="css/map.css"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap-combined.min.css"/>
    <script src="services/angular-route.js"></script>
    <script src="services/angular-route.min.js"></script>
    <script src="services/json2.min.js"></script>
    <script src="services/lodash.js"></script>
    <script src="services/jquery-2.0.3.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqrm1LI-8ddEp54fYxIEAP1sF64rc4wMU"></script>
</head>

<body class="noselect">
<div class="container" ng-controller="mainCtrl">
    <div class="container titlebar subContainer">
        <br>
        <h1 class="mainTitle" style="font-size: 50px;">Who What Where</h1>
        <button type="button" class="btn btn-success search" ng-click="searchClick()">Search</button>
        <select class="form-control input1" id="what" placeholder="I am looking for" ng-model="type">
            <option value="Food">Food</option>
            <option value="Theaters">Theaters</option>
            <option value="Shopping Malls">Shopping Malls</option>
            <option value="Night Clubs">Night Clubs</option>
        </select>

        <input class="form-control input2" id="where" placeholder="Enter the city" type="text" ng-model="location"
               style="font-size: 16px;"/>

    </div>

    <div class="mapBg">
        <div id="map_canvas" ui-options="mapOptions">
            <ui-gmap-google-map center="map.center" zoom="map.zoom" panTo="true" bounds="map.bounds"
                                zoomControl="map.zoomControl" panControl="map.panControl"
                                scaleControl="map.scaleControl" mapTypeControl="map.mapTypeControl"
                                streetViewControl="map.streetViewControl"
                                overviewMapControl="map.overviewMapControl" rotateControl="map.rotateControl">
                <ui-gmap-marker ng-repeat="m in cityMarkers" coords="m" icon="m.icon" name="{{m.title}}" idkey="m.id">
                    <ui-gmap-window ng-cloak coords="m" isIconVisibleOnClick="true"
                                    options="map.infoWindowWithCustomClass.options">
                        <p><br><b>Name:&nbsp;&nbsp;</b> <a target="_blank" href="{{m.url}}">{{m.title}}</a><br><br>
                            <b>Address:&nbsp;&nbsp;</b>{{m.name}}<br> <b>Rating: &nbsp;&nbsp;{{m.rating}} </b></p>
                    </ui-gmap-window>
                </ui-gmap-marker>
            </ui-gmap-google-map>
        </div>
    </div>

    <div class="allData">
        <div ng-repeat="item in listItems track by $index" class="list">
            <div style="margin-left: 30px;margin-top:0px;width: 300px;height: 180px;">
                <br>
                <div>Name: <a target="_blank" href="{{item.url}}">{{item.name}}</a></div>
                <div> Address: {{item.location.address}}</div>
                <div>Contact Number: {{item.contact.formattedPhone}} {{item.contact.phone}}</div>
                <div> City: {{item.location.city}}</div>
                <div>Country: {{item.location.country}}</div>
                <div style="color: green">Rating: {{item.rating}}</div>
            </div>
            <div class="imgbackground">
                <img src="{{item.photos.groups[0].items[0].prefix}}200x165{{item.photos.groups[0].items[0].suffix}}"
                     draggable="false"/>
            </div>
        </div>
    </div>
</div>
</body>
</html>
